:root {
    --color_text : #000000;
    --background_color : #024CAA;
    --header_color : #091057;
    --footer_color : #454444;

}

body {
    background-color: var(--background_color);
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: var(--header_color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    gap: 7%;
}

.footer {
    background-color: var(--footer_color);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap : 7%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
}

.block {
    width: 20%;
    height: 20%;
    margin-bottom: 7%;
}
